/* VARIABLES */

html {
	--bg: linear-gradient(to right, #1C3E35, #5B9883, #99F2D1);
	--panel: #444;
	--panels-t: rgba(235, 235, 235, 0.4);
	--heading: #5B9883;
	--text: #fcfcfc;
}

/* BODY */

body {
	/* background: var(--bg); */
}

#root {
	height: 100vh;
	width: 100%;
	/* background: var(--bg); */
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

/* MOBILE */

#root {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;
}

/* HEADER */

#root header.header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1/2;
	/* -webkit-backdrop-filter: blur(5px); */
	/* backdrop-filter: blur(5px); */
	background-color: var(--panel);
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.15);
	z-index: 5;
}

#root header.header .nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 85%;
	padding: 1.2em;
	justify-content: space-between;
}

/* #root header.header .nav .brand .brand-img {
	display: none;
} */

#root header.header .nav .brand a {
	font-size: 24px;
	font-weight: bold;
	color: var(--heading);
	letter-spacing: -2px;
	text-transform: uppercase;
}

#root header.header .links {
	display: flex;
	/* padding: 2.5em; */
	margin: 0;
	top: 10vh;
	left: 0;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: var(--panel);
	height: 90vh;
	width: 100%;
	transform: translateX(100%);
	transition: transform 0.5s;
	z-index: 10;
}

#root header.header .links.active {
	transform: translateX(0);
	transition: transform 0.5s ease-in;
}

#root header.header .links .item a {
	font-size: 24px;
	color: var(--heading);
}

#root header.header .links .item.lg {
	display: flex;
	width: 85%;
	align-items: center;
	justify-content: space-between;
}

#root header.header .links .item.lg .lg-active {
	position: relative;
	font-weight: bold;
	transform: scale(1.1);
	transition: 1s ease;
}

#root header.header .links .item.lg .separator {
	width: 25px;
	transform: rotate(90deg);
	height: 2px;
	background-color: var(--text);
}

#root header.header .nav .burger {
	display: block;
	cursor: pointer;
}

#root header.header .nav .burger * {
	width: 40px;
	height: 5px;
	background-color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

#root header.header .nav .burger.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 9px);
}
#root header.header .nav .burger.toggle .line2 {
	opacity: 0;
}
#root header.header .nav .burger.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -9px);
}

/* MAIN */

main {
	z-index: 0;
}

main section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	/* background-color: red; */
}

main section .container {
	padding: 2em;
	width: 100%;
}

main section .content {
	margin-bottom: 30px;
}

main section .title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	color: var(--heading);
}

main section .description {
	font-size: 18px;
	text-align: justify;
	color: var(--text);
}

main section .img-rounded {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid var(--panels);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

main section .img-rounded img {
	height: 100%;
	width: auto;
}

main section .section-title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 50px;
	font-size: 24px;
	color: var(--heading);
	font-weight: bold;
}

main section .section-title .line {
	width: 100%;
	height: 5px;
	border-radius: 2em;
	background: var(--text);
	margin-top: 10px;
}

/* NAVIGATION */

.module-navigation .content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 0;
}

.module-navigation .content .title {
	display: none;
}

.module-navigation .modules {
	display: flex;
	align-items: center;
	justify-content: left;

	max-width: 90%;

	border-radius: 10px;
	padding: 5px;

	background-color: var(--panel);
}

.module-navigation .modules .module {
	
	max-width: 50px;
	position: relative;
	
	/* background-color: blue; */

	border: 2px;
	border-style: solid;
	border-color: #5B9883;

	background-color: var(--panel);

	box-shadow: 0px 0px 5px #5B9883;

	border-radius: 5px;
	margin: 8px;
	padding: 10px;
}

.module-navigation .modules .module::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(rgba(255,255,255,.1) ,rgba(0,0,0,.1));
}

.module-navigation .modules .module .module-icon {
	height: 25px;
	width: auto;
}

.disabled {
	display: none !important;
}

#loadModuleButton {
	height: 25px;
	padding: 1.5em;
	text-align: center;
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 0;
	background-color: var(--panel);
	color: #fcfcfc;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	transition: background-color ease-in;
}

#loadModuleButton:hover {
	transform: scale(1.1);
	background-color: var(--heading);
}

/* VIEWER */

.module-viewer {

	height: auto;
	border-radius: 15px 15px 0 0;

	color: var(--heading);
	background-color: var(--panel);

	box-shadow: 0px -5px 10px rgba(0,0,0,.3);
}

.module-viewer .content {

	display: flex;
	flex-direction: column;

	justify-content: space-between;

	/* background-color: red; */
}

/* TITLE */

.module-viewer .viewer-title {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
}

/* FILE TREE */

.module-viewer .viewer-file-tree {
	
	padding: 1.5em;
	background-color: #fcfcfc;
	margin-bottom: 25px;
	border-radius: 5px;

}

.module-viewer .viewer-file-tree .file-tree-title {
	font-size: 1.1em;
	text-align: center;
	color: var(--heading);
	margin-bottom: 10px;
}

/* Remove default bullets */
ul, #fileTree {
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#fileTree {
	margin: 0;
	padding: 0;
	color: black;
}

/* Style the caret/arrow */
.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
	transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
	display: block;
	margin-left: 25px;
}

/* DESCRIPTION */

.module-viewer .viewer-description {
	max-width: 90%;
	height: auto;
	margin: auto;
	padding: 1.2em;
	border-radius: 5px;
	margin-bottom: 25px;
	background: #fcfcfc;

}

.module-viewer .viewer-description > p {
	font-size: 12px;
}

/* VIEWER BOX */

.module-viewer .viewer-code-viewer {

	background: #fcfcfc;

	margin-bottom: 25px;

}

/* SOURCE CODE */

.module-viewer .viewer-source-code {

	background: #fcfcfc;

}

/* 

	DESKTOP

*/

@media screen and (min-width: 960px){

	* {
		box-sizing: border-box;
	}

	#root {
		height: 100vh;
		width: 100%;

		grid-template-rows: 8% 92%;

		/* background: red; */
	}

	/* 
	
		HEADER

	*/

	#root header.header {
		position: absolute;
		top: 0;
		left: 0;
		height: 8vh;

		/* background-color: blue; */

	}

	#root header.header .nav {
		
		width: 100vw;

		/* margin: auto; */

		/* margin-top: auto;
		margin-bottom: auto ;*/

		padding: 0;

		height: 100%;

		display: grid;

		grid-template-columns: 10vw 80vw 10vw;

	}

	#root header.header .nav .brand {
		grid-column: 2/3;
		text-align: center;
	}

	#root .header .nav .burger {
		grid-column: 3/3;
	}

	#root .header .nav .burger div {
		margin: 5px auto 5px auto;
	}

	#root header.header .links {
		display: none;
		/* display: flex; */
		/* padding: 2.5em; */
		margin-left: auto;
		top: 6vh;
		right: 0;
		position: absolute;
		/* flex-direction: column;
		align-items: center;
		justify-content: space-around; */
		background: var(--panel);
		height: 94vh;
		width: 20%;
		transform: translateX(100%);
		transition: transform 0.5s;
		/* z-index: 10; */
	}

	#root header.header .links.active {
		display: flex;
		transform: translateX(0%);
		transition: transform 0.5s ease-in;
	}

	/* 
	
		NAVIGATOR
	
	*/

	.module-navigation {
		position: absolute;

		top: 8vh;
		left: 0;

		height: 92vh;
		width: 5vw;

		background-color: var(--panel);

		box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.15);

		z-index: 10;
		
	}

	.module-navigation .container {
		height: 100%;
		width: 100%;
		padding: 5px;
	}

	.module-navigation .content {
	
		position: relative;

		display: block;
		/* flex-direction: column;
		align-items: top;
		justify-content: center; */
		margin: 0;
		padding-top: 1.1em;

		width: 100%;
		height: 100%;

		/* background-color: blue; */

	}

	.module-navigation .content .title {
		display: block;
		text-align: center;
		/* font-size: 18px; */
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.module-navigation .content .title a {
		color: white;
		font-size: 14px;
	}

	#loadModuleButton {

		height: 30px;
		padding: 1.5em;
		width: 100%;

	}
	
	#loadModuleButton:hover {
		transform: none;
		background-color: var(--heading);
	}

	.module-navigation .modules {
		display: flex;
		align-items: center;
		justify-content: top;

		flex-direction: column;
	
		max-width: 100%;
	
		border-radius: 5px;
		padding: 5px;
	
		background-color: transparent;
	}

	/* 
	
		VIEWER

	*/

	/* .module-viewer {
		display: none;
	} */

	.module-viewer {
		position: absolute;
		
		display: block;

		top: 8vh;
		left: 5vw;

		width: 95vw;
		height: 92vh;

		border-radius: 0;

		padding: 0;
		/* background-color: red; */

		z-index: 0;

	}

	.module-viewer .container {
		background: var(--bg);

		width: 100%;
		height: 100%;
		
	}

	.module-viewer .content {
		
		padding: 2em;

		height: 100%;

		display: grid;

		grid-template-areas: "title description description"
								"filetree viewer source";

		grid-template-rows: 15% 1fr;

		grid-template-columns: 15% 1fr 1fr;

		border-radius: 10px;

		background-color: var(--panel);
		box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .15);

	}

	.module-viewer .content .viewer-title {
		grid-area: title;
		background-color: transparent;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		
	}

	.module-viewer .content .viewer-description {

		margin-top: auto;
		margin-bottom: auto;
	
		max-height: 100px;

		grid-area: description;
		background-color: #fcfcfc;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);

		width: 100%;

	}

	.module-viewer .content .viewer-description p {
		font-size: 18px;
	}

	.module-viewer .content .viewer-file-tree {
		grid-area: filetree;
		background-color: #fcfcfc;
		margin-right: 1.5em;
		height: 100%;
	}

	.module-viewer .content .viewer-code-viewer {
		grid-area: viewer;
		height: 100%;

		border-radius: 5px;
		background-color: #fcfcfc;
	}

	.module-viewer .content .viewer-source-code {
		grid-area: source;
		height: 100%;

		border-radius: 5px;
		margin-left: 25px;

		background-color: #fcfcfc;
	}

}

/* 
	
	LOADER

 */

body.loaderHandler {
	width: 100vw;
	height: 100vh;
	background: var(--text);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	text-align: center;

	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #5B9883; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 3s linear infinite;

}

.loadHandler {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
}

.load {

	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 15;

	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #5B9883; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;

}

@keyframes spin {
	
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }

}